* {
  border: 1px solid red;
}

body {
  background-color: white;
  color: #22222;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

.header {
  background-color: white;
  box-shadow: 0 0px 1px 0px rgba(0, 0, 0, 0.15);
  height: 64px;
  display: flex;
  justify-content: space-between;
  color: #7b7b85;


}

.site-title, .site-updated {
  line-height: 64px;
  padding: 0px 20px;
}

.data-card {
  background-color: white;
  width: 300px;
  height: 410px;
  margin: auto;
  margin-top: 120px;
  border-radius: 4px;
  box-shadow: 0 0px 1px 0px rgba(0, 0, 0, 0.15);

}

table {
  width: 100%;
}

tr {
  height: 64px;
}

td.pct {
  text-align: right;
}

td.browser {
  text-align: left;
  line-height: 64px;

}

th {
  width: 100%;
}

.icon {
  background-color: blue;
  height: 32px;
  width: 32px;
  border-radius: 50%;


}


.data-card-header {
  margin: auto;
  border-bottom: 1px solid #D2D2D6;
  line-height: 64px;
  letter-spacing: 4px;
  font-size: 24px;
}
