/** {
  border: 1px solid red;
}*/

body {
  background-color: #F8F8F8;
  /*font-family: 'Josefin Sans', sans-serif;*/
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  color: #7B7B85;
  text-align: center;
}

a {
  text-decoration: none;
  transition: bottom 1s;
  color: #FB433C;
}

/** {
toggle
}*/

.switch-field {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  overflow: hidden;
  text-align: center;
  width: 112px;
  margin: auto auto 32px;
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    float: left;
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.1);
    color: rgba(0, 0, 0, 0.5);
}

.switch-field label {
  display: inline-block;
  width: 56px;
  height: 32px;
  opacity: .5;
  padding-top: 12px;
  background-color: #F9f9f9;
  font-size: 24px;
  line-height: 23px;
  font-weight: normal;
  text-align: center;
  align-content: center;
  text-shadow: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition:    all 0.2s ease-in-out;
  -ms-transition:     all 0.2s ease-in-out;
  -o-transition:      all 0.2s ease-in-out;
  transition:         all 0.2s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
    font-size: 24px;
    transition:         all .2s ease-in-out;
    opacity: 1;
    color: rgba(0, 0, 0, 1);
}

.switch-field input:checked + label {
  background-color: #ffffff;
  font-size: 24px;
  line-height: 23px;
  opacity: 1;
  color: rgba(0, 0, 0, 1);
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  opacity: 1;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  opacity: 1;
}




/* when we don't wrap the link in a little container, then it
is all jumpy because the mouse bounces around the text.
*/
.link-container {
  position: relative;
  bottom: 0px;
  transition: bottom 0.4s;
}

.link-container:hover {
  bottom: 3px;
}

/*
  the top bar
*/

.top-bar {
  background-color: white;
  box-shadow: 0 0px 1px 0px rgba(0, 0, 0, 0.15);
  height: 64px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 1;
  transition: 0.5s;
  -webkit-transition: 0.5s; /*Safari*/
  width:100%;
}

.site-title, .site-updated {
  line-height: 64px;
  padding: 0px 20px;
}

.site-description {
  line-height: 64px;
  margin-left: 44px;
}

@media all and (max-width: 940px) {
  .top-bar {
    font-size:16px;
  }

  .site-description {
    display:none;
  }
}

@media all and (max-width: 540px) {
  .top-bar {
    font-size:12px;
  }
  .site-title {
    padding-left: 6px;
  }
  .site-updated {
    padding-right: 6px;
  }
}
/*
  the cards
*/


/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
  margin: auto;
}

/* flip the pane when hovered */
.flip-container.flipped .flipper {
	transform: rotateY(180deg);
}

.flip-container.flippedplus .flipperplus {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 320px;
	height: 380px;
}

/* flip speed goes here */
.flipper {
	transition: 1s;
	transform-style: preserve-3d;
	position: relative;
}

.flipperplus {
	transition: 1s;
	transform-style: preserve-3d;
	position: relative;
  transition-delay: .25s;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.card-section {
  padding: 48px 0px;
}

.card {
  background-color: white;
  width: 320px;
  height: 384px;
  margin: auto;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.25);
  animation-name: fade-in, scale-up;
  animation-duration: .5s, .5s;
  animation-delay: .5s, .5s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

@keyframes fade-in {
0% { opacity: 0; }
100% { opacity: 1; }
}

@keyframes scale-up {
  0% {
    transform: scale(1);
    animation-timing-function: ease-in;
  }
  25% {
    transform: scale(1.05);
    animation-timing-function: ease-out;
  }
  60% {
    transform: scale(0.95);
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    animation-timing-function: ease-in;
  }
}

#resolution-card {
  position: relative;
  padding: 20px;
  display: inline-block;
}

#browser-card {
  padding: 20px;
  position: relative;
  display: inline-block;
}

/*
  the tables
*/

table {
  width: 100%;
}

tr:last-child {
  border-bottom: none;
}

tr {
  height: 63px;
  border-bottom: 1px solid #ECECEE;
}

/*
  table header
*/

th {
  width: 100%;
  letter-spacing: 8px;
}

.card-header {
  margin: auto;
  border-bottom: 1px solid #ECECEE;
  letter-spacing: 6px;
  font-size: 20px;
  padding-left: 8px;
  padding-top: 10px;
}

.browser-text {
  padding-top: 100px;
  padding: 20px;
  text-align: left;
  font-size: 18px;
}

/*
  table columns
*/

.browser-card-percent-column {
  width: 33%;
  font-size: 20px;
  border-right: 1px solid #ECECEE;
}

.browser-card-icon-column {
  width: 30%  ;
  vertical-align: middle;
}

.icon {
  background-color: #ECECEE;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.browser-card-browser-column {
  width: 36%;
  line-height: 63px;
  margin-bottom: 32px;
  text-align: left;
}

.resolution-card-percent-column {
  width: 33%;
  font-size: 20px;
  border-right: 1px solid #ECECEE;
  line-height: 63px;
}

.resolution-card-browser-column {
  width: 66%;
  text-align: left;
  padding-left: 32px;
  line-height: 63px;
}

/*
  the credits
*/

#heart-circle {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: white;
  margin: auto;
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 24px;
}

#heart {
  line-height: 78px;
  margin-left: 5px;
  cursor: pointer;
  user-select: none;
  font-size: 28px;
}


.credits {
  position: relative;
  padding: 18px;
  padding-top: 0px;
  padding-bottom: 24px;
  margin-top: -16px;
}
