/** {
  border: 1px solid red;
}*/

body {
  background-color: #F8F8F8;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  color: #7B7B85;
  text-align: center;
}

a {
  text-decoration: none;
  transition: bottom 1s;
  color: #FB433C;
}

/** {
  background parralax
}*/
.parallax {
    /* The image used */
    background-image: linear-gradient(#F4887B, #FFF9BA);

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* when we don't wrap the link in a little container, then it
is all jumpy because the mouse bounces around the text.
*/
.link-container {
  position: relative;
  bottom: 0px;
  transition: bottom 0.4s;
}

.link-container:hover {
  bottom: 3px;
}

/*
  the top bar
*/

.top-bar {
  background-color: white;
  box-shadow: 0 0px 1px 0px rgba(0, 0, 0, 0.15);
  height: 64px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.site-title, .site-updated {
  line-height: 64px;
  padding: 0px 20px;
}

/*
  the toggle
*/

.toggle {
  display: inline-flex;
  background-color: white;
  font-size: 28px;
  margin: auto;
  margin-top: 56px;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.25);
  padding: 12px 24px;
  justify-content: space-around;

  animation-name: fade-in, scale-up;
  animation-duration: .5s, .5s;
  animation-delay: .5s, .5s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.globe, .america {
  vertical-align: middle;
}



/*
  the cards
*/

.card-section {
  padding-top: 56px;
}

.card {
  background-color: white;
  width: 320px;
  height: 384px;
  margin: auto;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.25);

  animation-name: fade-in, scale-up;
  animation-duration: .5s, .5s;
  animation-delay: .5s, .5s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

@keyframes fade-in {
0% { opacity: 0; }
100% { opacity: 1; }
}

@keyframes scale-up {
  0% {
    transform: scale(1);
    animation-timing-function: ease-in;
  }
  25% {
    transform: scale(1.05);
    animation-timing-function: ease-out;
  }
  60% {
    transform: scale(0.95);
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    animation-timing-function: ease-in;
  }
}

.resolution-card {
  margin-top: 120px;
}

/*
  the tables
*/

table {
  width: 100%;
}

tr:last-child {
  border-bottom: none;
}

tr {
  height: 63px;
  border-bottom: 1px solid #ECECEE;
}

/*
  table header
*/

th {
  width: 100%;
  letter-spacing: 8px;
}

.card-header {
  margin: auto;
  border-bottom: 1px solid #D2D2D6;
  line-height: 63px;
  letter-spacing: 8px;
  font-size: 24px;
}

/*
  table columns
*/

.browser-card-percent-column {
  width: 33%;
  font-size: 24px;
  border-right: 1px solid #ECECEE;
}

.browser-card-icon-column {
  width: 30%  ;
  vertical-align: middle;
}

.icon {
  background-color: #ECECEE;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.browser-card-browser-column {
  width: 36%;
  line-height: 63px;
  margin-bottom: 32px;
  text-align: left;
}

.resolution-card-percent-column {
  width: 33%;
  font-size: 24px;
  border-right: 1px solid #ECECEE;
  line-height: 63px;
}

.resolution-card-browser-column {
  width: 66%;
}

/*
  the credits
*/

#heart-circle {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: white;
  margin: auto;
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 24px;
}

#heart {
  line-height: 86px;
  margin-left: 3px;
  cursor: pointer;
  user-select: none;
  font-size: 28px;
}


.credits {
  margin-top: 96px;
  margin-bottom: 48px;
}
